@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;
}

body {
  font-family: 'CorporateS-Regular', sans-serif;
}
.regular {
  font-family: 'CorporateS-Regular';
}
.medium {
  font-family: 'CorporateS-Medium';
}
.demi {
  font-family: 'CorporateS-Demi';
}
.bold {
  font-family: 'CorporateS-Bold';
}
.extrabold {
  font-family: 'CorporateS-ExtraBold';
}
.main-container {
  @apply mx-4 md:mx-10 xl:mx-24 2xl:mx-75 3xl:mx-96;
}